<% if current_user %>
  <h1>New Party</h1>
  <hr><br>

  <h2>Movie Title: <%= @movie.title %></h2>
  <br>

  <section id="new_party">
    <%= form_with model: @party, method: :post, local: true do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :movie_id, value: @movie.id %>
      <%# <%= f.hidden_field :movie_title, value: @movie.title %> %>
      <br>
      <%= f.label :duration, 'Duration:' %>
      <%= f.text_field :duration, id: :duration, value: @movie.runtime %>
      <br>
      <%= f.label :date, 'When:' %>
      <%= f.date_select :date, id: :date %>
      <br>
      <%= f.label :start_time, 'Start Time:' %>
      <%= f.time_select :start_time, id: :start_time %>
      <br><br>

      <%= f.label "Friends invited" %>
      <% current_user.friends.each do |friend| %>
        <div>
          <% unless friend == current_user %>
            <%= check_box("Friend", friend.id)%><%= friend.email %>
          <% end %>
        </div>
      <% end %>

      <br>
      <%= f.submit 'Create Party' %>
    <% end %>
  </section>
<% else %>
  <%= render 'partials/login_redirect' %>
<% end %>
