<h1>New Party</h1>
<hr><br>

<h2>Movie Title: <%= @movie.title %>
<br>

<section id="new_party">
  <%= form_with url: parties_path, local: true do |f| %>
    <%= f.hidden_field :movie_id, value: @movie.id %>
    <%= f.label :duration, 'Duration:' %>
    <%= f.text_field :duration, id: :duration, value: @movie.runtime %>
    <%= f.label :date, 'When:' %>
    <%= f.date_select :date, id: :date %>
    <%= f.label :start_time, 'Start Time:' %>
    <%= f.time_select :start_time, id: :start_time %>
    <%= f.submit 'Create Party' %>
  <% end %>
</section>