<% if current_user %>
  <h1>Dashboard</h1>
  <hr>
  <%= link_to 'Discover Movies', discover_path %>
  <%= link_to 'Log Out', logout_path %>
  <br>

  <section id='friends'>
    <h2>Friends</h2>
    <%= form_with url: '/friendships', method: :post, local: true do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.label :email, "Friend's Email:" %>
      <%= f.text_field :email %>
      <%= f.submit 'Add Friend' %>
    <% end %>

    <% if !current_user.friendships.empty? %>
      <% @friends.each do |friend| %>
        <div id='user-<%= friend.id%>'>
          <%= friend.email %>
          <% end %>
        </div>
    <% else %>
      <p>You currently have no friends.</p>
    <% end %>
  </section>

  <section id='viewing-parties'>
    <h2>Viewing Parties</h2>
    <div id='my-parties'>
      <h3>My Parties</h3>
      <% current_user.parties.each do |party| %>
        <p>Date: <%= party.date %></p>
        <p>Time: <%= party.duration %></p>
        <p>You are the host!</p>
        <p>Attendees:</p>
        <% party.attendees.each do |attendee| %>
          <p><%= attendee.user.email unless attendee.user.email == current_user.email %></p>
        <% end %>
      <% end %>
    </div>

    <div id='party-invites'>
      <h3>Viewing Party Invites</h3>
      <!--
      <% current_user.parties.each do |party| %>
        <p>Date: <%= party.date %></p>
        <p>Time: <%= party.duration %></p>
        <p>Host: <%= party.user.email %></p>
        <p>Attendees:</p>
        <% party.attendees.each do |attendee| %>
          <p><%= attendee.user.email unless attendee.user.email == current_user.email %></p>
        <% end %>
        <p><b><%= current_user.email %></b></p>
      <% end %>
      -->
    </div>
  </section>

  <hr><br>
<% else %>
  <%= render 'partials/login_redirect' %>
<% end %>
