<% if current_user %>
  <h1>Dashboard</h1>
  <hr>
  <p><%= link_to 'Discover Movies', discover_path %></p>
  <br>

  <section id='friends'>
    <h2>Friends</h2>
    <br>
    <%= form_with url: '/friendships', method: :post, local: true do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.label :email, "Friend's Email:" %>
      <%= f.text_field :email %>
      <%= f.submit 'Add Friend' %>
    <% end %>

    <h3>My Friends</h3>
    <% if !current_user.friendships.empty? %>
      <% @friends.each do |friend| %>
        <div id='user-<%= friend.id%>'>
          <p><%= friend.email unless friend.email == current_user.email %></p>
          <% end %>
        </div>
    <% else %>
      <p id="no-friends">You currently have no friends.</p>
    <% end %>
  </section>

  <br>
  <section id='viewing-parties'>
    <h2>Viewing Parties</h2>
    <div id='my-parties'>
      <h3>My Parties</h3>
      <% current_user.parties.each do |party| %>
        <h4><%= party.movie_id %></h4>
        <p><b>Date:</b> <%= party.date %></p>
        <p><b>Time:</b> <%= party.duration %> minutes</p>
        <p><b>Host:</b> <%= party.user.email %></p>
        <p><b>Attendees:</b></p>
        <% party.users.each do |user| %>
          <p><%= user.email unless user == current_user %></p>
        <% end %>
      <% end %>
    </div>

    <div id='party-invites'>
      <h3>Viewing Party Invites</h3>
      <!--
      <% current_user.parties.each do |party| %>
        <p>Date: <%= party.date %></p>
        <p>Time: <%= party.duration %></p>
        <p>Host: <%= party.user.email %></p>
        <p>Attendees:</p>
        <% party.attendees.each do |attendee| %>
          <p><%= attendee.user.email unless attendee.user.email == current_user.email %></p>
        <% end %>
        <p><b><%= current_user.email %></b></p>
      <% end %>
      -->
    </div>
  </section>
  <br>
  <hr>
<% else %>
  <%= render 'partials/login_redirect' %>
<% end %>
