<h1><%= @movie.title %>'s Details</h1>
<hr><br>

<p>Runtime: <%= @movie.runtime %> minutes</p>
<p>Vote Average: <%= @movie.vote_average %></p>
<p>Summary: <%= @movie.summary %></p>
<p>Genres: 
  <% @movie.genres.each do |genre| %>
    <%= genre %>
  <% end %>
</p>

<%= button_to "Create a Viewing Party" %>
<br>

Total Reviews: <%= @reviews.count %>

<% @reviews.each do |review| %>
  <div id="review-id-<%= review.id %>">
    <h2><%= review.author %></h2>
    <p>Rating: <%= review.rating %></p>
    <p>Review: "<%= review.content %>"</p>
  </div>
<% end %>
